body{
    background-color: bisque;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
   
}
#main {
    text-align: center;
    max-width: 800px;
    width: 100%;
    height: 70%;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: burlywood;
}


    #heading{
        margin-top: 2rem;
        margin-bottom: 4rem;
        text-align: center;
        text-decoration: none;    
    }
    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    #photo img{
        width: 80%;
        height: 80%;
        margin-left: 1rem;
    }

    #left{
        margin-top: 5rem;
        margin-left: 10rem;
        width: 60px;
        height: 40px;
        

    }
    #right{
        margin-top: 5rem;
        margin-right:10rem;
        width: 60px;
        height: 40px;
       

    }
    #previous{
        text-align: center;
        size: 30px;
        padding: 10px;
        color: black;
        font-size: 12px;
        font-weight: bold;
        
    }
    #next{
        text-align: center;
        size: 30px;
        padding: 10px;
        color: black; 
        font-size: 12px;
        font-weight: bold;
        
    }
    @media only screen and (max-width: 768px) {
        #main {
          
            max-width: 300px;
            margin-top: 20px;
            padding: 30px;
            margin-bottom: 10px;
           
        }
        .content{
            gap: 100px;
            margin-left: 10px;
            width:200px
        }
        #photo img{
            width: 120px;
            height: 100px;
            margin-left: 0px;   
        }
    
        #left{
            margin-top: 2rem;
            margin-left: 0rem;
        }

        #previous{
    
            padding: 8px;
            font-size: 10px;
            font-weight: bold;
            
        }
        #right{
            margin-top: 2rem;
            margin-left: -70px;
            width: 40px;
            height: 20px;
           
    
        }
        #next{
            text-align: center;
            padding: 8px;
            font-size: 10px;
            font-weight: bold;
            
        }
        #photo{
            width: 120px;
            height: 100px;
            margin-left: -5rem;
        }
        

    }